.account__load {
    background: url(assets/img/load.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin: 136px auto 228px auto;
    animation: load 1s linear infinite;
}

@keyframes load {
    100% {
        transform: rotate(-1turn);
    }
}

.planet-1,
.planet-3,
.planet-5,
.planet-7 {
    offset-path: path('M961.951 386.575C872.466 238.276 739.489 182.286 607.512 180.07C443.074 177.31 319.061 255.993 239.075 386.575C161.115 513.849 170.257 651.286 223.078 769.722C285.918 910.627 408.545 992.455 531.025 1013.68C703.6 1043.59 847.97 964.586 942.954 834.508C1045.76 693.717 1036.47 510.073 961.951 386.575Z');
    offset-anchor: 0% 2.5%;
}

.planet-2,
.planet-4,
.planet-6,
.planet-8,
.planet-9 {
    offset-path: path('M1055.83 331.928C941.865 145.318 772.506 74.8602 604.42 72.0757C404.991 68.7719 236.009 173.889 144.99 331.928C67.4905 466.493 47.535 665.022 114.807 814.055C194.84 991.359 351.018 1094.33 507.007 1121.04C726.798 1158.67 946.989 1051.47 1055.83 879.487C1158.99 716.487 1150.74 487.329 1055.83 331.928Z');
    offset-anchor: 0% 2.5%;
}

.planet-small-1,
.planet-small-3,
.planet-small-5,
.planet-small-7 {
    offset-path: path('M430.322 208.868C387.958 138.688 325.004 112.191 262.523 111.143C184.675 109.836 125.964 147.072 88.0969 208.868C51.1891 269.099 55.5172 334.138 80.5235 390.187C110.273 456.868 168.328 495.592 226.312 505.637C308.014 519.791 376.361 482.403 421.329 420.846C470 354.218 465.602 267.312 430.322 208.868Z');
    offset-anchor: 0% 2.5%;
}


.planet-small-2,
.planet-small-4,
.planet-small-6,
.planet-small-8,
.planet-small-9 {
    offset-path: path('M473.821 183.007C419.867 94.6968 339.688 61.3536 260.113 60.0358C165.698 58.4724 85.6987 108.217 42.6083 183.007C5.91827 246.688 -3.52911 340.639 28.3188 411.166C66.2082 495.073 140.146 543.801 213.995 556.441C318.049 574.251 422.292 523.52 473.821 442.131C522.659 364.994 518.753 256.548 473.821 183.007Z');
    offset-anchor: 0% 2.5%;
}

.planet-1,
.planet-small-1 {
    animation: planets 8700ms linear infinite;
    offset-anchor: 0% 2%;
}

.planet-3,
.planet-small-3 {
    animation: planets 2440ms linear infinite;
    offset-anchor: 0% 2.2%;
}

.planet-5,
.planet-small-5 {
    animation: planets 3650ms linear infinite;
    offset-anchor: 0% 2.8%;
}
.planet-7,
.planet-small-7 {
    animation: planets 1880ms linear infinite;
}

.planet-2,
.planet-small-2 {
    animation: planets 11860ms linear infinite;
    offset-anchor: 0% 2.8%;
}

.planet-4,
.planet-small-4 {
    animation: planets 29400ms linear infinite;
    offset-anchor: 0% 2%;
}

.planet-6,
.planet-small-6 {
    animation: planets 	8400ms linear infinite;
    offset-anchor: 0% 3%;
}

.planet-8,
.planet-small-8 {
    animation: planets 	16470ms linear infinite;
    offset-anchor: 0% 2%;
}

.planet-9,
.planet-small-9 {
    animation: planets 24800ms linear infinite;
    offset-anchor: 0% 2%;
}

@keyframes planets {
    to {
        offset-distance: -100%;
    }
}