.nft-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 68px 40px;

    .product {
        max-width: 281px;
        min-width: 281px;
        box-shadow: 30px 1px 78px 0px $gray-shadov;
        position: relative;
    }
}

.discover-nft {

    &__title.section-title{
        margin-top: 110px;
        margin-bottom: 44px;
    }
}

.explore-marketplace {
    margin-bottom: 116px;
    
    .container {
        border-bottom: 1px solid $gray-svg;
        padding-bottom: 102px;
    }

    &__title.section-title {
        margin-bottom: 64px;
    }

    .content-buttons {
        button {
            &:first-child {
                max-width: 72px;
            }
        }
    }

    .nft-galery {
        gap: 58px 32px;
        height: 848px;
        overflow: auto;
        box-shadow: 0px 13px 46px -20px #c8c7c7, 16px -17px 39px -25px #c8c7c7;
        border-radius: 38px;

        &::-webkit-scrollbar {
            background: linear-gradient(180deg, #eeeeee 0%, #c8c7c7 52%, #eeeeee 100%);
        }
    }
}