.banner {
    padding: 66px 0 143px 0;

    >.container {
        display: flex;

        .banner-content {
            display: flex;
            flex-direction: column;
            max-width: 500px;
            width: 100%;
            margin-right: 114px;

            small.banner-over-title {
                font-size: 0;
                position: relative;
                width: 195px;
                display: inline-block;
                border-top: 1px solid $gray-accent;
                margin-bottom: 10px;
            }

            .banner-title {
                font-weight: 600;
                color: $gray-color;
                line-height: 1.2;
                margin-bottom: 16px;
                text-transform: capitalize;
            }

            .banner-subtitle {
                font-size: 18px;
                font-weight: 400;
                color: $gray-accent;
                line-height: 1.5;
                margin-bottom: 46px;

                strong {
                    color: $gray-color;
                    font-weight: 600;
                }
            }

            .banner-btn-row {
                margin-bottom: 82px;
                display: flex;
                gap: 24px;

                .banner-link {
                    text-decoration: none;
                    color: $brand-white-color;
                    padding: 17px 29px;
                    border-radius: 16px;
                    text-transform: uppercase;
                    background-color: $brand-black-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border: 1px solid $brand-black-color;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover{
                        background-color: $brand-white-color;
                        color: $brand-black-color;
                    }
                }
            }

            .banner-trustpilot {
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 600;
                max-width: 242px;
                width: 100%;
                margin-bottom: 60px;

                &::before {
                    content: "";
                    width: 22px;
                    height: 22px;
                    background-image: url(assets/img/star.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-top: -6px;
                }

                .truspilot-stars {
                    position: relative;
                    width: 79px;
                    height: 13px;
                    margin-left: auto;
                    margin-right: 8px;

                    .stars-basic {
                        background-image: url(assets/img/stars-basic.svg);
                        background-repeat: no-repeat;
                        width: inherit;
                        height: 13px;
                    }

                    .stars-gold {
                        position: absolute;
                        top: -50%;
                        transform: translateY(50%);
                        background-image: url(assets/img/stars-gold.svg);
                        background-repeat: no-repeat;
                        height: 13px;
                    }
                }

                .truspilot-follovers {
                    font-size: 12px;
                    color: $gray-accent;
                    font-weight: 400;
                    margin-top: 2px;
                }
                
            }

            .banner-advantages {
                display: flex;
                flex-direction: row;
                gap: 64px;
                font-size: 36px;
                font-weight: 600;


                small {
                    font-size: 12px;
                    font-weight: 500;
                    color: #848586;
                    text-transform: capitalize;
                    display: block;
                    margin-top: 6px;
                }
            }
        }

        .banner-swiper {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    top: 62px;
                    right: calc(100% - 75%);
                    width: 124px;
                    height: 128px;
                    background: url(assets/img/banner-arrow.svg) center no-repeat;
                    transform: rotate(-5deg);
                    background-size: contain;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    max-width: 174px;
                    max-height: 400px;
                    width: 100%;
                    height: 100%;
                    background: url(assets/img/banner-points.svg) center no-repeat;
                    background-size: contain;
                }
            
            .banner-slider {
                max-width: 780px;
                max-height: 580px;
                width: 100%;
                height: 100%;
                padding-top: 40px;
                padding-left: 12px;
                transition: .7s;

                .swiper-slide {
                    
                    img {
                        width: 100%;
                        transition: .7s; 

                        &:last-child {
                            margin-top: calc(-100% - 60px);
                            opacity: .99;
                          
                        }

                        &:first-child {
                            filter: blur(10px);
                            opacity: 0.5;
                        }
                    }
                }

                .swiper-slide-next {
                    
                    img {
                        margin-top: 156px;
                        margin-left: -20px;
                        padding: 15%;
                    }
                }

            }
        }
    }

}

.banner-slider-navigation {
    @include banner-slider-navigation;
}