footer {
    background-color: $gray-color;
    margin-top: auto;

   .container {

    .footer-top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 86px 0 25px;
        border-bottom: 1px solid $gray-svg;

        nav.nav-footer {
            margin-left: auto;
            
            .nav-list-footer {
                display: flex;
                gap: 70px;

                .list-item-footer a {
                    text-decoration: none;
                    color: $gray-svg;
                    text-transform: capitalize;
                }

                &:hover {
                    color: $brand-white-color;
                }

            }
        }
    }

    .footer-bottom {
        width: 100%;
        display: flex;
        padding: 57px 0 90px;
        color: $gray-svg;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-footer {
            display: flex;
            margin-left: auto;
            gap: 52px;

            a svg {
                text-decoration: none;
                max-width: 22px;
                max-height: 22px;
                fill: currentColor;

                &:active {
                    decoration: none;
                }

                &:hover {
                    fill: $brand-white-color;
                }
            }
        }
    }
   }
}