@mixin product {
    display: flex;
    flex-direction: column;
    background-color: $brand-white-color;
    border-radius: 24px;
    padding: 14px 14px 20px;

    &-img {
        margin-bottom: 18px;

        img:nth-child(1) {
            border-radius: 24px;
        }
    }

    &-title {
        font-size: 22px;
        font-weight: 600;
        color: $gray-color;
        margin-bottom: 14px;
    }

    &-bid-title {
        font-size: 14px;
        font-weight: 400;
        color: $gray-accent;
        margin-bottom: 6px;
        line-height: 1.5;
    }

    &-bid {
        font-size: 16px;
        line-height: 1.5;
        color: $gray-color;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 2px;

        .d-mobile {
            display: none;
        }
    }

    & .btn-small {
        text-decoration: none;
        line-height: 1.6;
        margin-left: auto;
        max-width: 122px;
        margin-top: -52px;
        @include flex-centered;
    }
}

.product {
    @include product;
}

@mixin product-small {
    padding: 10px 10px 14px;
    border-radius: 16px;

    &-img {

        img:nth-child(1) {
            width: 178px;
            height: 178px;
            border-radius: 16px;
        }
    }

    &-title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    &-bid-title {
        font-size: 10px;
        margin-bottom: 4px;
    }

    &-bid {
        font-size: 12px;

        .d-desktop {
            display: none;
        }

        .d-mobile {
            display: flex;
        }
    }

    & .btn-small {
        max-width: 86px;
        margin-top: -38px;
        font-size: 10px;
        padding: 10px 17px;
        border-radius: 8px;
    }
}
