<section class="asked">
    <div class="container">
        <h2 class="section-title asked-title">Frequently Asked <span>Questions</span></h2>

        <div class="accordion" data-type="flush">
            <div class="accordion-item">
                <button class="accordion-item__button">What is an NFT?</button>
                 <div class="accordion-item__content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste cum, veritatis voluptas optio fugit vel et facere odio qui modi, unde consequatur magni cumque molestias fuga deserunt quis consectetur. Dolore amet hic ad impedit ab ea doloremque repellat minus! Dolorum, unde reprehenderit ex nulla molestias quae tempore nisi quod in.
                 </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-item__button">What can I use NFTs for?</button>
                <div class="accordion-item__content">
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste cum, veritatis voluptas optio fugit vel et facere odio qui modi, unde consequatur magni cumque molestias fuga deserunt quis consectetur. Dolore amet hic ad impedit ab ea doloremque repellat minus! Dolorum, unde reprehenderit ex nulla molestias quae tempore nisi quod in.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-item__button">What is the difference between an NFT and cryptocurrency?</button>
                <div class="accordion-item__content">
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste cum, veritatis voluptas optio fugit vel et facere odio qui modi, unde consequatur magni cumque molestias fuga deserunt quis consectetur. Dolore amet hic ad impedit ab ea doloremque repellat minus! Dolorum, unde reprehenderit ex nulla molestias quae tempore nisi quod in.
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-item__button">How much is an NFT worth?</button>
                <div class="accordion-item__content">
                   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste cum, veritatis voluptas optio fugit vel et facere odio qui modi, unde consequatur magni cumque molestias fuga deserunt quis consectetur. Dolore amet hic ad impedit ab ea doloremque repellat minus! Dolorum, unde reprehenderit ex nulla molestias quae tempore nisi quod in.</p>
                   <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, odit.</li>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic rem nisi, minus maxime repellendus excepturi, ducimus sequi voluptates reiciendis ratione saepe distinctio veniam quo. Totam.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, nesciunt?</li>
                    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, qui animi? Sequi perspiciatis id blanditiis nostrum voluptate.</li>
                    <li>Lorem ipsum dolor sit.</li>
                   </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button class="accordion-item__button">How do I purchase an NFT on your platform?</button>
                <div class="accordion-item__content">
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste cum, veritatis voluptas optio fugit vel et facere odio qui modi, unde consequatur magni cumque molestias fuga deserunt quis consectetur. Dolore amet hic ad impedit ab ea doloremque repellat minus! Dolorum, unde reprehenderit ex nulla molestias quae tempore nisi quod in.
                </div>
            </div>
        </div>
    </div>
</section>