<section class="explore-marketplace">

    <div class="container">
        <h2 class="explore-marketplace__title section-title">Explore Marketplace</h2>
        <div class="content-buttons">
            <button class="btn btn-secondary buttons__item">
                All</button>
            <button class="btn btn-secondary buttons__item">
                <svg class="icon-svg">
                    <use xlink:href="#btn-icon-category"></use>
                </svg>
                Category</button>
            <button class="btn btn-secondary buttons__item">
                <svg class="icon-svg">
                    <use xlink:href="#btn-icon-collection"></use>
                </svg>
                Collection</button>
            <button class="btn btn-secondary buttons__item">
                <svg class="icon-svg">
                    <use xlink:href="#btn-icon-price"></use>
                </svg>
                Price</button>
        </div>

        @@include('product-NFT.html')

        <a class="button-explore" href="discover-NFT.html">
            Explore All
            <svg class="icon-svg">
                <use xlink:href="#btn-arrow"></use>
            </svg>
        </a>
    </div>

</section>