<footer>
    <div class="container">
        <div class="footer-top">
            <a href="index.html">
                <img src="assets/img/logo-footer.svg" alt="logo">
            </a>

            <nav class="nav-footer">
                <ul class="nav-list-footer">
                    <li class="list-item-footer"><a href="#">Privacy Policy</a></li>
                    <li class="list-item-footer"><a href="#">Term & Conditions</a></li>
                    <li class="list-item-footer"><a href="#">About Us</a></li>
                    <li class="list-item-footer"><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer-bottom">
            <div class="copywrite">© 2023 EATLY All Rights Reserved.</div>

            <nav class="social">
                <a href="#"><img src="assets/img/1.svg" alt="instagram"></a>
                <a href="#"><img src="assets/img/2.svg" alt="LinkedIn"></a>
                <a href="#"><img src="assets/img/3.svg" alt="fecebook"></a>
                <a href="#"><img src="assets/img/4.svg" alt="tvitter"></a>
            </nav>
        </div>
    </div>
</footer>
<script async src="assets/js/custom.js"></script>
</body>
</html>