<header>
    <div class="container">
        <a href="index.html">
            <picture>
                <source media="(min-width: 1024px)" srcset="assets/img/logo.svg">
                <img src="assets/img/logo-mobile.svg" alt="logo">
            </picture>
        </a>

       <div class="mobail-container">
            <nav class="header-nav">
                <ul class="list-nav">
                    <li class="list-item"><a href="discover-NFT.html">Discover</a></li>
                    <li class="list-item"><a href="#">creators</a></li>
                    <li class="list-item"><a href="#">Sell</a></li>
                    <li class="list-item"><a href="leaderboard-NFT.html">stats</a></li>
                </ul>
            </nav>

            <form class="header-search">
                <input type="search" placeholder="Search Art Work / Creator">
            </form>

            <button type="button" class="btn btn-primary btn-nav">Connect Wallet</button>
       </div>

       <button type="button" class="btn btn-burger"><span></span></button>
       
    </div>
</header>
