<section class="just-unleash">
    <div class="container">
        <div class="just-unleash__list">
            <h2 class="section-title just-unleash__title"><span>Just Unleash -</span> Your Inner Collector</h2>
            <ul class="just-unleash__chek-list">
                <li class="just-unleash__item">Best Seller All Around World</li>
                <li class="just-unleash__item">$2M+ Transections Every Day</li>
                <li class="just-unleash__item">Secure Transactions</li>
                <li class="just-unleash__item">Exclusive Collections From Sellers</li>
                <li class="just-unleash__item">Easy Buying and Selling</li>
                <li class="just-unleash__item">Join Our Community</li>
            </ul>
            <a class="btn btn-primary" href="#">
                Explore More
                <svg class="icon-svg">
                    <use xlink:href="#btn-arrow"></use>
                </svg>
            </a>
        </div>
        
        <div class="just-unleash__wigets">
            @@include('wiget__recent-viewed.html')
            <div class="just-unleash__widget-follow">
                <h4 class="just-unleash__widget-follow-title">Best Sellers</h4>
                    <ul class="just-unleash__widget-follow-list">
                        <li class="just-unleash__widget-follow-item">
                            <img class="just-unleash__widget-follow-avatar" src="assets/img/user-avatar-1.png" alt="avatar">
                            <div class="just-unleash__widget-follow-name">
                                Alex Ca.
                            </div>
                            <div class="just-unleash__widget-follow-nickname">
                                @Alexy
                            </div>
                            <button class="btn btn-secondary just-unleash__widget-follow-button">
                                follow
                            </button>
                        </li>
                        <li class="just-unleash__widget-follow-item">
                            <img class="just-unleash__widget-follow-avatar" src="assets/img/user-avatar-2.png" alt="avatar">
                            <div class="just-unleash__widget-follow-name">
                                Alex Ca.
                            </div>
                            <div class="just-unleash__widget-follow-nickname">
                                @Alexy
                            </div>
                            <button class="btn btn-secondary just-unleash__widget-follow-button">
                                follow
                            </button>
                        </li>
                        <li class="just-unleash__widget-follow-item">
                            <img class="just-unleash__widget-follow-avatar" src="assets/img/user-avatar-3.png" alt="avatar">
                            <div class="just-unleash__widget-follow-name">
                                Alex Ca.
                            </div>
                            <div class="just-unleash__widget-follow-nickname">
                                @Alexy
                            </div>
                            <button class="btn btn-secondary just-unleash__widget-follow-button">
                                follow
                            </button>
                        </li>
                        <li class="just-unleash__widget-follow-item">
                            <img class="just-unleash__widget-follow-avatar" src="assets/img/user-avatar-4.png" alt="avatar">
                            <div class="just-unleash__widget-follow-name">
                                Alex Ca.
                            </div>
                            <div class="just-unleash__widget-follow-nickname">
                                @Alexy
                            </div>
                            <button class="btn btn-secondary just-unleash__widget-follow-button btn-unfollow">
                                Unfollow
                            </button>
                        </li>
                        <li class="just-unleash__widget-follow-item">
                            <img class="just-unleash__widget-follow-avatar" src="assets/img/user-avatar-5.png" alt="avatar">
                            <div class="just-unleash__widget-follow-name">
                                Alex Ca.
                            </div>
                            <div class="just-unleash__widget-follow-nickname">
                                @Alexy
                            </div>
                            <button class="btn btn-secondary just-unleash__widget-follow-button">
                                follow
                            </button>
                        </li>
                        <li class="just-unleash__widget-follow-item">
                            <img class="just-unleash__widget-follow-avatar" src="assets/img/user-avatar-1.png" alt="avatar">
                            <div class="just-unleash__widget-follow-name">
                                Alex Ca.
                            </div>
                            <div class="just-unleash__widget-follow-nickname">
                                @Alexy
                            </div>
                            <button class="btn btn-secondary just-unleash__widget-follow-button btn-unfollow">
                                Unfollow
                            </button>
                        </li>
                    </ul>
            </div>
            <div class="just-unleash__widget-new-bit">
               <ul>
                <li class="just-unleash__widget-new-bit-item"> 
                    <img class="just-unleash__widget-widget-new-bit-avatar" src="assets/img/user-avatar-3.png" alt="avatar">
                        <div class="just-unleash__widget-widget-new-bit-column">
                            <div class="rotation"><span>New bid</span> Rotation</div>
                            <div class="price">0.002 ETH</div>
                            <div class="data">6 Oct 2022, 11:44 PM</div>
                        </div>
                    <img class="just-unleash__widget-widget-new-bit-img" src="assets/img/product-3.png" alt="image">
                </li>
               </ul>
            </div>
        </div>
    </div>
</section>