<section class="links">
    <div class="container">
            <h2 class="links__title">Create and Sell NFTs</h2>
            <h5 class="links__subtitle">World’s Largest NFT Place</h5>
            <div class="links__buttons">
                <button class="btn btn-secondary">Explore More</button>
                <button class="btn btn-primary">Sell Artwork</button>
            </div>
        <div class="img-sourse">
            <img src="assets/img/img-links.png" alt="img">
            <img src="assets/img/img-links.png" alt="img">
        </div>
    </div>
</section>