<div class="leaderboard-container">
    <div class="leaderboard-container__head">
        <div class="leaderboard-container__head-item">Collection <button class="btn leaderboard-container__btn"></button></div>
        <div class="leaderboard-container__head-item">Volume <button class="btn leaderboard-container__btn"></button></div>
        <div class="leaderboard-container__head-item">24 H <button class="btn leaderboard-container__btn"></button></div>
        <div class="leaderboard-container__head-item">Floor Price <button class="btn leaderboard-container__btn"></button></div>
        <div class="leaderboard-container__head-item">Owner <button class="btn leaderboard-container__btn"></button></div>
        <div class="leaderboard-container__head-item">Items</div>
    </div>


    <ul class="leaderboard-container__section-users">
        <li class="leaderboard-container__section">
            <div class="leaderboard-container__section-user">
                <img src="assets/img/user-avatar-1.png" alt="user avatar">
                <div class="leaderboard-container__section-name">Alex Ca.</div>
                <div class="leaderboard-container__section-created">By Alex</div>
            </div>
            <div class="leaderboard-container__section-volume">
                <i class="icon icon-ethereum  icon-md mobil-none"></i>
                <i class="icon icon-ethereum  icon-xs destop-none"></i>
                8,456
            </div>
            <div class="leaderboard-container__section-time">
                + 27.78%
            </div>
            <div class="leaderboard-container__section-floor-price">
                <i class="icon icon-ethereum  icon-md mobil-none"></i>
                <i class="icon icon-ethereum  icon-xs destop-none"></i>
                3,5
            </div>
            <div class="leaderboard-container__section-owner">
                2,2K
            </div>
            <div class="leaderboard-container__section-items">
                500
            </div>
        </li>
        <li class="leaderboard-container__section">
            <div class="leaderboard-container__section-user">
                <img src="assets/img/user-avatar-2.png" alt="user avatar">
                <div class="leaderboard-container__section-name">Dura Gx.</div>
                <div class="leaderboard-container__section-created">By Dura</div>
            </div>
            <div class="leaderboard-container__section-volume">
                <i class="icon icon-ethereum  icon-md mobil-none"></i>
                <i class="icon icon-ethereum  icon-xs destop-none"></i>
                4,486
            </div>
            <div class="leaderboard-container__section-time">
               + 09.78%
            </div>
            <div class="leaderboard-container__section-floor-price">
                <i class="icon icon-ethereum  icon-md mobil-none"></i>
                <i class="icon icon-ethereum  icon-xs destop-none"></i>
                2,4
            </div>
            <div class="leaderboard-container__section-owner">
                2,2K
            </div>
            <div class="leaderboard-container__section-items">
                900
            </div>
        </li>
        <li class="leaderboard-container__section">
            <div class="leaderboard-container__section-user">
                <img src="assets/img/user-avatar-3.png" alt="user avatar">
                <div class="leaderboard-container__section-name">Michal Yu.</div>
                <div class="leaderboard-container__section-created">By Michal</div>
            </div>
            <div class="leaderboard-container__section-volume">
                <i class="icon icon-ethereum  icon-md mobil-none"></i>
                <i class="icon icon-ethereum  icon-xs destop-none"></i>
                9,124
            </div>
            <div class="leaderboard-container__section-time">
                + 11.78%
            </div>
            <div class="leaderboard-container__section-floor-price">
                <i class="icon icon-ethereum  icon-md mobil-none"></i>
                <i class="icon icon-ethereum  icon-xs destop-none"></i>
                3,5
            </div>
            <div class="leaderboard-container__section-owner">
                2,2K
            </div>
            <div class="leaderboard-container__section-items">
                920
            </div>
        </li>
        <li class="leaderboard-container__section">
            <div class="leaderboard-container__section-user">
                <img src="assets/img/user-avatar-4.png" alt="user avatar">
                <div class="leaderboard-container__section-name">Differy Da.</div>
                <div class="leaderboard-container__section-created">By Tom</div>
            </div>
            <div class="leaderboard-container__section-volume">
                <i class="icon icon-ethereum  icon-md mobil-none"></i>
                <i class="icon icon-ethereum  icon-xs destop-none"></i>
                3,657
            </div>
            <div class="leaderboard-container__section-time">
                + 22.78%
            </div>
            <div class="leaderboard-container__section-floor-price">
                <i class="icon icon-ethereum  icon-md mobil-none"></i>
                <i class="icon icon-ethereum  icon-xs destop-none"></i>
                2,4
            </div>
            <div class="leaderboard-container__section-owner">
                2,2K
            </div>
            <div class="leaderboard-container__section-items">
                300
            </div>
        </li>
        <li class="leaderboard-container__section">
             <div class="leaderboard-container__section-user">
            <img src="assets/img/user-avatar-5.png" alt="user avatar">
            <div class="leaderboard-container__section-name">Union Ca.</div>
            <div class="leaderboard-container__section-created">By Jerry</div>
        </div>
        <div class="leaderboard-container__section-volume">
            <i class="icon icon-ethereum  icon-md mobil-none"></i>
            <i class="icon icon-ethereum  icon-xs destop-none"></i>
            4,486
        </div>
        <div class="leaderboard-container__section-time">
            + 27.78%
        </div>
        <div class="leaderboard-container__section-floor-price">
            <i class="icon icon-ethereum  icon-md mobil-none"></i>
            <i class="icon icon-ethereum  icon-xs destop-none"></i>
            2,4
        </div>
        <div class="leaderboard-container__section-owner">
            2,2K
        </div>
        <div class="leaderboard-container__section-items">
            800
        </div>
        </li>
        <li class="leaderboard-container__section">
            <div class="leaderboard-container__section-user">
            <img src="assets/img/user-avatar-1.png" alt="user avatar">
            <div class="leaderboard-container__section-name">Duckly Dk.</div>
            <div class="leaderboard-container__section-created">By Duck</div>
        </div>
        <div class="leaderboard-container__section-volume">
            <i class="icon icon-ethereum  icon-md mobil-none"></i>
            <i class="icon icon-ethereum  icon-xs destop-none"></i>
            8,456
        </div>
        <div class="leaderboard-container__section-time">
            + 15.78%
        </div>
        <div class="leaderboard-container__section-floor-price">
            <i class="icon icon-ethereum  icon-md mobil-none"></i>
            <i class="icon icon-ethereum  icon-xs destop-none"></i>
            3,5
        </div>
        <div class="leaderboard-container__section-owner">
            2,2K
        </div>
        <div class="leaderboard-container__section-items">
            500
        </div>
        </li>
        <li class="leaderboard-container__section">
            <div class="leaderboard-container__section-user">
                        <img src="assets/img/user-avatar-5.png" alt="user avatar">
                        <div class="leaderboard-container__section-name">Union Ca.</div>
                        <div class="leaderboard-container__section-created">By Jerry</div>
                    </div>
                    <div class="leaderboard-container__section-volume">
                        <i class="icon icon-ethereum  icon-md mobil-none"></i>
                        <i class="icon icon-ethereum  icon-xs destop-none"></i>
                        4,486
                    </div>
                    <div class="leaderboard-container__section-time">
                        + 27.78%
                    </div>
                    <div class="leaderboard-container__section-floor-price">
                        <i class="icon icon-ethereum  icon-md mobil-none"></i>
                        <i class="icon icon-ethereum  icon-xs destop-none"></i>
                        2,4
                    </div>
                    <div class="leaderboard-container__section-owner">
                        2,2K
                    </div>
                    <div class="leaderboard-container__section-items">
                        800
                    </div>
        </li>
        <li class="leaderboard-container__section">
            <div class="leaderboard-container__section-user">
            <img src="assets/img/user-avatar-1.png" alt="user avatar">
            <div class="leaderboard-container__section-name">Duckly Dk.</div>
            <div class="leaderboard-container__section-created">By Duck</div>
        </div>
        <div class="leaderboard-container__section-volume">
            <i class="icon icon-ethereum  icon-md mobil-none"></i>
            <i class="icon icon-ethereum  icon-xs destop-none"></i>
            8,456
        </div>
        <div class="leaderboard-container__section-time">
            + 15.78%
        </div>
        <div class="leaderboard-container__section-floor-price">
            <i class="icon icon-ethereum  icon-md mobil-none"></i>
            <i class="icon icon-ethereum  icon-xs destop-none"></i>
            3,5
        </div>
        <div class="leaderboard-container__section-owner">
            2,2K
        </div>
        <div class="leaderboard-container__section-items">
            500
        </div>
        </li>
    </ul>

</div>