<section class="weekly">
    <div class="container">
        <h2 class="weekly-title section-title">
            Weekly - Top NFT
        </h2>

           <div class="carousel-weekly-swiper">

            <div class="swiper carousel-weekly">

                <div class="swiper-wrapper">

                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-1.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid">
                        <i class="icon icon-ethereum icon-sm d-desktop"></i>
                        <i class="icon icon-ethereum d-mobile icon-xs"></i> 1.75</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-2.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.25</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-3.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.25</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-4.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.75</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-5.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.75</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-1.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.75</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-2.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop icon-xs"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.25</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-3.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop icon-xs"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.25</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-4.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop icon-xs"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.75</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a> 
                    </div>
                    <div class="swiper-slide product"> 
                        <div class="product-img">
                            <img src="assets/img/product-5.png" alt="produck"> 
                        </div>
                        <div class="product-title">Sun-Glass</div>
                        <div class="product-bid-title">Current bid</div>
                        <div class="product-bid"><i class="icon icon-ethereum icon-sm d-desktop"></i><i class="icon icon-ethereum d-mobile icon-xs"></i> 1.75</div>
                        <a class="btn btn-primary btn-small" href="#">Place bid</a>
                    </div>

                </div>
                
            </div>

                <div class="weekly-slider-navigation">
                    <div class="weekly-button-prev">
                        <svg class="svg-icon">
                            <use href="#arrow-prev"></use>
                        </svg>
                    </div>
                    <div class="weekly-button-next">
                        <svg class="svg-icon">
                            <use href="#arrow-next"></use>
                        </svg>
                    </div>
                </div> 
                
           </div>

           @@include('wiget__recent-viewed.html')
    </div>
</section>