<div class="custom-modal" id="place-bid">
    <div class="custom-modal__body">
        <h5 class="custom-modal__title">History of Bid</h5>
        <div class="custom-modal__data">Oct 14, 2022</div>

        <div class="custom-modal__list">
            <div class="custom-modal__item">
                <img class="custom-modal__avatar" src="assets/img/user-avatar-1.png" alt="">
                <div class="custom-modal__creator">
                    Repo
                    <span>May 17, 2022 at 12:08</span>
                </div>
                <div class="custom-modal__etherium">
                    <i class="icon icon-ethereum icon-sm"></i>
                    1.75
                </div>
            </div>
            <div class="custom-modal__item">
                <img class="custom-modal__avatar" src="assets/img/user-avatar-2.png" alt="">
                <div class="custom-modal__creator">
                    Travo
                    <span>May 16, 2022 at 12:08</span>
                </div>
                <div class="custom-modal__etherium">
                    <i class="icon icon-ethereum icon-sm"></i>
                    1.57
                </div>
            </div>
            <div class="custom-modal__item">
                <img class="custom-modal__avatar" src="assets/img/user-avatar-3.png" alt="">
                <div class="custom-modal__creator">
                    Jennifer
                    <span>May 16, 2022 at 6:08</span>
                </div>
                <div class="custom-modal__etherium">
                    <i class="icon icon-ethereum icon-sm"></i>
                    1.44
                </div>
            </div>
        </div>

        <div class="custom-modal__bit">
            <form>
                <h5 class="custom-modal__bit-title">Your Bid</h5>
                <div class="custom-modal__bit-select">
                    <select class="custom-modal__bit-select--options" id="bit" name="bit">
                        <option value="eth">ETH</option>
                        <option value="btc">BTC</option>
                        <option value="usdt">USDT</option>
                        <option value="sol">SOL</option>
                    </select>
                    <input class="custom-modal__bit-select--namber" type="number">
                </div>
                <button type="submit" class="btn btn-primary custom-modal__bit-button">Submit</button>
            </form>
        </div>
    </div>
</div>